@model Proyecto_Escuelas_ASP.Models.Curso

@{
    ViewData["Title"] = "Crear Curso";
}


<h4>Curso</h4>
<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class=" card-header bg-dark">
                <h4 class="text-warning"><strong>Crear Curso</strong></h4>
            </div>

        </div>
        <div class="card-body">
            <form asp-action="Create" method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Codigo" class="control-label"></label>
                    <input asp-for="Codigo" class="form-control" placeholder="Ingrese el codigo" />
                    <span asp-validation-for="Codigo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nombre_Curso" class="control-label"></label>
                    <input asp-for="Nombre_Curso" class="form-control" placeholder="Ingrese el nombre" />
                    <span asp-validation-for="Nombre_Curso" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label"></label>
                    <input asp-for="Descripcion" class="form-control" placeholder="Ingrese la descripcion" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nivel" class="control-label"></label>
                    <select asp-for="Nivel" class="form-control " asp-items="ViewBag.Nivel"></select>
                </div>
                <div>
                    <label asp-for="FechaInicio" class="control-label"></label>
                    <input type="date" asp-for="FechaInicio" class="form-control" />
                </div>
                <div>
                    <label asp-for="FechaFin" class="control-label"></label>
                    <input type="date" asp-for="FechaFin" class="form-control" />
                </div>

                <div class="form-group mt-3">
                    <button type="submit" id="enviar" class="btn btn-secondary d-block mx-auto"><i class="bg-info bi-person-fill"></i> Crear </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}