<!--Para poder acceder a la entidad de contacto-->
@model Proyecto_Escuelas_ASP.Models.Nota_Materia

@{
    ViewData["Title"] = "Detalles nota materia";
}

<h1 class="text-center">Eliminar Nota</h1>


<div class="row">
    <div class="offset-12">
        <div class="card border">

            <div class="card-header bg-dark">

                <h3 class="text-white">
                    <strong>Detalles Nota</strong>
                </h3>
            </div>

            <div class="card-body">
                <ul class="list-group-item">
                    <li class="list-group-item"><strong>Materia: </strong>@Html.DisplayFor(m => m.CursoMateriaId)</li>
                    <li class="list-group-item"><strong>Estudiante: </strong>@Html.DisplayFor(m => m.EstudianteId)</li>
                    <li class="list-group-item"><strong>Fecha: </strong>@Html.DisplayFor(m => m.FechaCalificacion)</li>
                    <li class="list-group-item"><strong>Nota : </strong>@Html.DisplayFor(m => m.NotaObtenida)</li>
                </ul>


                <form asp-action="Delete" method="post">
                    <!--Btn enviar datos-->
                    <div class="form-floating mt-3">
                        <button type="submit" class="btn btn-danger d-block mx-auto"><i class="bi bi-pencil-fill">Eliminar Curso</i></button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>




