<!--Para poder acceder a la entidad de contacto-->
@model Proyecto_Escuelas_ASP.Models.Estudiante

@{
    ViewData["Title"] = "Detalles estudiante";
}

<h1 class="text-center">Eliminar estudiante</h1>


<div class="row">
    <div class="offset-12">
        <div class="card border">

            <div class="card-header bg-dark">

                <h3 class="text-white">
                    <strong>Detalles estudiante</strong>
                </h3>
            </div>

            <div class="card-body">
                <ul class="list-group-item">
                    <li class="list-group-item"><strong>Identificacion: </strong>@Html.DisplayFor(m => m.Personas.Identificacion)</li>
                    <li class="list-group-item"><strong>Nombre: </strong>@Html.DisplayFor(m => m.Personas.Nombre)</li>
                    <li class="list-group-item"><strong>Apellidos: </strong>@Html.DisplayFor(m => m.Personas.Apellidos)</li>
                    <li class="list-group-item"><strong>Curso: </strong>@Html.DisplayFor(m => m.Cursos.Nombre_Curso)</li>
                </ul>


                <form asp-action="Delete" method="post">
                    <!--Btn enviar datos-->
                    <div class="form-floating mt-3">
                        <button type="submit" class="btn btn-danger d-block mx-auto"><i class="bi bi-pencil-fill">Eliminar estudiante</i></button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>




