<!--Para poder acceder a la entidad de contacto-->
@model Proyecto_Escuelas_ASP.Models.CursoMateria

@{
    ViewData["Title"] = "Detalles Curso";
}


<div class="container">
    <h1 class="text-dark">Detalles del Curso y Materia</h1>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <h4 class="text-dark">Curso</h4>
            <dl class="row">
                <dt class="col-sm-4">Nombre del Curso:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Cursos.Nombre_Curso)</dd>
            </dl>
        </div>
        <div class="col-md-6">
            <h4 class="text-dark">Materia</h4>
            <dl class="row">
                <dt class="col-sm-4">Nombre de la Materia:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Materias.Nombre_Materia)</dd>
            </dl>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">
                <i class="bi bi-pencil-fill mx-2 mb-1"></i>Editar Curso
            </a>
        </div>
        <div class="col-md-6 text-md-right">
            <a class="btn btn-primary" asp-action="Index">
                <i class="bi bi-arrow-left-square mx-2 mt-1"></i>Volver a la Lista
            </a>
        </div>
    </div>
</div>
